<!-- Footer -->
<div>
    <footer class="footer">
        <div class="footer_container">
            <div class="container">
                <div class="row">

                    <!-- Footer - About -->
                    <div class="col-lg-4 footer_col">
                        <div class="footer_about">
                            <div class="footer_logo_container">
                                <a href="{% url 'core:home' %}"
                                   class="d-flex flex-column align-items-center justify-content-center">
                                    <div class="logo_content">
                                        <div class="logo d-flex flex-row align-items-center justify-content-center">
                                            <div class="logo_text">Care<span>Med</span></div>
                                            <div class="logo_box">+</div>
                                        </div>
                                        <div class="logo_sub">Диагностический центр</div>
                                    </div>
                                </a>
                            </div>
                            <div class="footer_about_text">
                                <p>Миссия Центра</p>
                                <p>Повышение доступности и качества оказания специализированной медицинской помощи
                                    пациентам.</p>
                            </div>
                            <ul class="footer_about_list">
                                <li>
                                    <div class="footer_about_icon"><img src="/static/images/phone-call.svg" alt=""></div>
                                    <span>+7 495 111 222 333</span></li>
                                <li>
                                    <div class="footer_about_icon"><img src="/static/images/envelope.svg" alt=""></div>
                                    <span>info@caremed.com</span></li>
                                <li>
                                    <div class="footer_about_icon"><img src="/static/images/placeholder.svg" alt=""></div>
                                    <span>г.Москва, ул.Тверская, д.13</span></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Footer - Links -->
                    <div class="col-lg-4 footer_col">
                        <div class="footer_links footer_column">
                            <div class="footer_title">Полезные ссылки</div>
                            <ul>
                                <li><a href="{% url 'core:about' %}">О нас</a></li>
                                <li><a href="https://clc.li/zpAfI">Вопросы</a></li>
                                <li><a href="https://clc.li/zpAfI">Вакансии</a></li>
                                <li><a href="https://clc.li/zpAfI">Наши партнеры</a></li>
                                <li><a href="{% url 'core:services' %}">Услуги</a></li>
                                <li><a href="https://clc.li/zpAfI">Акции</a></li>
                                <li><a href="https://clc.li/zpAfI">Новости</a></li>
                                <li><a href="{% url 'core:contacts' %}">Контакты</a></li>
                                <li><a href="https://clc.li/zpAfI">Наши программы</a></li>
                                <li><a href="https://clc.li/zpAfI">Ответы</a></li>
                                <li><a href="https://clc.li/zpAfI">Терминология</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Footer - News -->
                    <div class="col-lg-4 footer_col">
                        <div class="footer_news footer_column">
                            <div class="footer_title">Важное</div>
                            <ul>
                                <li>
                                    <div class="footer_news_title"><a href="https://www.medprofedu.ru/">Наша
                                        академия</a>
                                    </div>
                                    <div class="footer_news_date">1 мая 2026</div>
                                </li>
                                <li>
                                    <div class="footer_news_title"><a href="https://fnkc-fmba.ru/about/litsenziya/">Лицензии</a>
                                    </div>
                                    <div class="footer_news_date">1 мая 2026</div>
                                </li>
                                <li>
                                    <div class="footer_news_title"><a href="https://minzdrav.gov.ru/">Жалобы</a>
                                    </div>
                                    <div class="footer_news_date">1 мая 2026</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="copyright_content d-flex flex-lg-row flex-column align-items-lg-center justify-content-start">
                            <div class="cr">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                                All rights reserved | This template is made with <i class="fa fa-heart-o"
                                                                                    aria-hidden="true"></i> by <a
                                    href="https://clc.li/zpAfI" target="_blank">kazyatina</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </div>
                            <div class="footer_social ml-lg-auto">
                                <ul>
                                    <li><a href="https://clc.li/zpAfI"><i class="fa fa-pinterest"
                                                                          aria-hidden="true"></i></a></li>
                                    <li><a href="https://clc.li/zpAfI"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    </li>
                                    <li><a href="https://clc.li/zpAfI"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    </li>
                                    <li><a href="https://clc.li/zpAfI"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                                    </li>
                                    <li><a href="https://clc.li/zpAfI"><i class="fa fa-behance" aria-hidden="true"></i></a>
                                    </li>
                                    <li><a href="https://clc.li/zpAfI"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>