<!-- Header -->

<header class="header trans_200">

    <!-- Top Bar -->
    <div class="top_bar">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="top_bar_content d-flex flex-row align-items-center justify-content-start">
                        <div class="top_bar_item"><a href="https://clc.li/zpAfI">FAQ</a></div>
                        <div class="top_bar_item"><a href="{% url 'appointments:create' %}">Запишитесь на
                            прием</a>
                        </div>
                        <div class="emergencies  d-flex flex-row align-items-center justify-content-start ml-auto">
                            Скорая помощь: 112
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Header Content -->
    <div class="header_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="header_content d-flex flex-row align-items-center justify-content-start">
                        <nav class="main_nav ml-auto">
                            <ul>
                                <li class="menu_item menu_mm">
                                    <a class="nav-link" href="{% url 'core:home' %}">Главная</a>
                                </li>
                                <li class="menu_item menu_mm">
                                    <a class="nav-link" href="{% url 'core:about' %}">О центре</a>
                                </li>
                                <li class="menu_item menu_mm">
                                    <a class="nav-link" href="{% url 'core:services' %}">Услуги</a>
                                </li>
                                <li class="menu_item menu_mm">
                                    <a class="nav-link" href="{% url 'core:contacts' %}">Контакты</a>
                                </li>
                                {% if user.is_authenticated %}
                                <li class="menu_item menu_mm">
                                    <a class="nav-link" href="{% url 'accounts:profile' %}">Личный кабинет</a>
                                </li>
                                <li class="menu_item menu_mm">
                                    <a class="nav-link" href="{% url 'accounts:logout' %}?next=/">Выйти</a>
                                </li>
                                {% else %}
                                <li class="menu_item menu_mm">
                                    <a class="nav-link" href="{% url 'accounts:login' %}">Войти</a>
                                </li>
                                <li class="menu_item menu_mm">
                                    <a class="nav-link" href="{% url 'accounts:register' %}">Регистрация</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                        <div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Logo -->
    <div class="logo_container_outer">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="logo_container">
                        <a href="{% url 'core:home' %}">
                            <div class="logo_content d-flex flex-column align-items-start justify-content-center">
                                <div class="logo_line"></div>
                                <div class="logo d-flex flex-row align-items-center justify-content-center">
                                    <div class="logo_text">Care<span>Med</span></div>
                                    <div class="logo_box">+</div>
                                </div>
                                <div class="logo_sub">Диагностический центр</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Menu -->

<div class="menu_container menu_mm">

    <!-- Menu Close Button -->
    <div class="menu_close_container">
        <div class="menu_close"></div>
    </div>

    <!-- Menu Items -->
    <div class="menu_inner menu_mm">
        <div class="menu menu_mm">
            <ul class="menu_list menu_mm">
                <li class="menu_item menu_mm">
                    <a class="nav-link" href="{% url 'core:home' %}">Главная</a>
                </li>
                <li class="menu_item menu_mm">
                    <a class="nav-link" href="{% url 'core:about' %}">О центре</a>
                </li>
                <li class="menu_item menu_mm">
                    <a class="nav-link" href="{% url 'core:services' %}">Услуги</a>
                </li>
                <li class="menu_item menu_mm">
                    <a class="nav-link" href="{% url 'core:contacts' %}">Контакты</a>
                </li>
                {% if user.is_authenticated %}
                <li class="menu_item menu_mm">
                    <a class="nav-link" href="{% url 'accounts:profile' %}">Личный кабинет</a>
                </li>
                <li class="menu_item menu_mm">
                    <a class="nav-link" href="{% url 'accounts:logout' %}?next=/">Выйти</a>
                </li>
                {% else %}
                <li class="menu_item menu_mm">
                    <a class="nav-link" href="{% url 'accounts:login' %}">Войти</a>
                </li>
                <li class="menu_item menu_mm">
                    <a class="nav-link" href="{% url 'accounts:register' %}">Регистрация</a>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="menu_extra">
            <div class="menu_appointment"><a href="{% url 'appointments:create' %}">Запишитесь на
                прием</a></div>
            <div class="menu_emergencies">Скорая помощь: 112</div>
        </div>
    </div>
</div>